Football_Analytics_venv/
.ipynb_checkpoints/

# Position_data/PitchControl/Literature/
Position_data/PitchControl/sample-data-master

ffmpeg.exe

*.mp4
*.docx
*.tmp
*.xml

CurrentState.txt

PitchControlYAxis/
